<?xml version="1.0"?>
<launch>
  <!-- make sure you first ssh into remote machine and run roslaunch agbot_0 rc-car.launch-->
  <!-- on tx2....     export ROS_MASTER_URI='http://rc-car.local:11311' -->
  <!-- XXX see rpi.launch for further details -->



  <include file="$(find agbot_0)/launch/include/mapviz.launch" />

  <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />

    <machine name="remote_rpi" address="rc-car" env-loader="/home/ubuntu/catkin_ws/src/agbot_0/env.sh" user="ubuntu" default="true"/>



    ### Filepath for include files must be on the local machine
    ### Copy launch directory onto the machine runing roslaunch if you have to
    ### Use files located in .../agbot_0/launch/ directory

 

      ### Emlid Reach (GPS building nmea_navsat_driver from source)
      <include file="$(find agbot_0)/launch/include/emlid_gps.launch" >
        <arg name="port" default="/dev/ttyACM1"/>
        <arg name="baud" default="4800"/>
        <arg name="gps_topic_name" default="/gps/fix"/>
      </include>

</launch>
