<?xml version="1.0"?>
<launch>

 
<!-- roboclaw_node parameters -->   
<!-- This is the production launch file to be used with the real roboclaw device updated with a service node-->
<!-- Wheels max acceleration m/s^2 (TODO: split in angular and linear acceleration) -->
<!-- 1120 ticks/rev ; 6.2 inch diam ; 0.494792 m/rev -->
    <arg name="dev"             default="/dev/tty_roboclaw"/>
    <arg name="baud"            default="115200"/>
    <arg name="address"         default="128"/>
    <arg name="max_speed"       default="1.0"/>
    <arg name="ticks_per_meter" default="32"/>
    <arg name="base_width"      default="0.315"/>
    <arg name="run_diag"        default="true"/>
    <arg name="twist_command"   default="roboclaw/cmd_vel"/>
    <!-- make sure type = "roboclaw_node.py" is executable use $ chmod +x roboclaw_node.py in term--> 
    <node if="$(arg run_diag)" pkg="roboclaw_node" type="roboclaw_node.py" name="roboclaw_node">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~base_width" value="$(arg base_width)"/>
        <param name="~twist_command" value="$(arg twist_command)"/>
    </node>

    <node pkg="diagnostic_aggregator" type="aggregator_node"
          name="diagnostic_aggregator">
        <rosparam command="load"
                  file="$(find roboclaw_node)/config/roboclaw_diag.yaml"/>
    </node>

	<node pkg="jrk_motor_node" name="jrk_subscriber" type="jrk_subscribe.py" output="screen">
  </node>
   
<!-- joy_node parameters this node subscribes to sensor_msg --> 
	  <arg name="joy_config"      default="ps4" />
  	<arg name="joy_dev"         default="/dev/input/js0" /> 	
    <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />  
	  <node  pkg="joy" type="joy_node" name="joy_node">
      <param name="dev"             value="$(arg joy_dev)" />  	 
	    <param name="deadzone"        value="0.0" />
      <param name="autorepeat_rate" value="1" />
  	</node>

<!-- joy_teleop node parameters... see teleop.yaml for ros message publish config--> 	
    <rosparam command="load" file="$(find agbot_0)/config/teleop.yaml" />
  	  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop" >
  	</node>



</launch>
