<?xml version="1.0"?>
<launch>

	<!-- roboclaw_node parameters -->   
	<!-- This is the production launch file to be used with the real roboclaw device updated with a service node-->
	<!-- Wheels max acceleration m/s^2 (TODO: split in angular and linear acceleration) -->
	<!-- drive wheel radius = 6 centimeters = 0.06 meters -->	
	<!-- (42 ticks/revolution) divide by (2*pi*radius_meters/revolution) -->
	<!-- use math above to get ticks_per_meters = 111.41-->
	<!-- base width is the length between left and right rear wheels -->


    <arg name="dev" default="/dev/roboclaw"/>
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="max_speed" default="2.0"/>
    <arg name="ticks_per_meter" default="43339.4366031"/>
    <arg name="base_width" default="0.41"/> <!-- 1.17 meters long 0.41 meters wide -->
    <arg name="run_diag" default="true"/>
    <arg name="child_frame" default="robot_base" />
    <arg name="publish_tf" default="false" />
    <arg name="twist_topic_name" default="/roboclaw/cmd_vel"/>
    <arg name="single_motor" default="false"/>
    <arg name="odom_topic_name" default="/wheel_encoder/odom"/>

    <!-- make sure type = "roboclaw_node.py" is executable use $ chmod +x roboclaw_node.py in term--> 
    <node if="$(arg run_diag)" pkg="roboclaw_node" type="roboclaw_node.py" name="roboclaw_node">
        <param name="~dev" value="$(arg dev)"/>
        <param name="~baud" value="$(arg baud)"/>
        <param name="~address" value="$(arg address)"/>
        <param name="~max_speed" value="$(arg max_speed)"/>
        <param name="~ticks_per_meter" value="$(arg ticks_per_meter)"/>
        <param name="~base_width" value="$(arg base_width)"/>
        <param name="~child_frame" value="$(arg child_frame)"/>
        <param name="~publish_tf" value="$(arg publish_tf)"/>
        <param name="~single_motor" value="$(arg single_motor)"/>
        <param name="~twist_command" value="$(arg twist_topic_name)"/>
        <remap from="/odom" to="$(arg odom_topic_name)"/>
    </node>

    <node pkg="diagnostic_aggregator" type="aggregator_node"
          name="diagnostic_aggregator">
        <rosparam command="load"
                  file="$(find roboclaw_node)/config/roboclaw_diag.yaml"/>
    </node>

</launch>

