<?xml version="1.0"?>
<launch>
  ### THIS LAUNCH FILE WILL LAUNCH NODES ON THE LOCAL MACHINE AND REMOTE MACHINE (TX2)
  <!-- In order to run this make sure you are able first ssh into remote machine and setup passworldless ssh -->
  <!-- On the local machine type the shell comamand 
    $ export ROS_MASTER_URI='http://rc-car.local:11311'
    or append the .bashrc file with (for persistent configuration across new terminals)
    export ROS_MASTER_URI=http://tegra-ubuntu:11311
    see README.md for further details
  -->

   ### RUN sudo docker run -p 8080:8080 -d -t -v ~/mapproxy:/mapproxy danielsnider/mapproxy
  <include file="$(find agbot_0)/launch/include/mapviz.launch" >
    <arg name="xy_origin_initilization" default="stutz"/> <!-- "auto"(will use gps) "stutz"(if indoors)  -->>
  </include>

  <!-- <include file="$(find agbot_0)/launch/include/tf_and_node.launch" /> -->
  <!-- <include file="$(find agbot_0)/launch/include/rviz.launch" /> --> 
  <!-- <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" /> -->
  <node name="rqt_logger_level_node" pkg="rqt_logger_level" type="rqt_logger_level" />
  <node name="rqt_console_node" pkg="rqt_console" type="rqt_console" />

  <machine name="tx2" address="tegra-ubuntu" env-loader="/home/nvidia/catkin_ws/src/agbot_0/env.sh" user="nvidia" default="true"/> 
    ### Filepath for include files must be on the local machine running roslaunch
    ### git clone agbot_0 into ~/catkin_ws/src/ directory to get most recent files
    ### You can pass different argments such as "auto" or "stutz" for the mapviz.launch files (this doesnt required tranfers to remote machine)
    ### Changes to launch files such as adding new arguments will require transfering them to the machine that does not have the most recent version
    ### Changes to node files such as roboclaw_node.py with require transfering them to the machine running that node

      ### Robot Localization
      <include file="$(find agbot_0)/launch/include/ekf.launch" />

      ### USB/Bluetooth Joystick (connected to local PC)
      <include file="$(find agbot_0)/launch/include/teleop.launch" >
        <arg name="joy_dev"             default="/dev/input/js0" />
        <arg name="ackermann_command"   default="/ackermann"/>
        <arg name="twist_command"       default="/roboclaw/cmd_vel"/>
        <arg name="max_forward_vel"     default="0.3"/> # in m/s
        <arg name="max_reverse_vel"     default="0.1"/> # in m/s
        <arg name="max_steering_angle"  default="0.7853982"/> # in radians (45 deg)
        <arg name="joy_msg"             default="/joy"/>
        <arg name="wheel_base"          default="1.18"/> # distance between front and back tires in meters
      </include>

      ### Roboclaw
      <include file="$(find agbot_0)/launch/include/roboclaw.launch">
        <arg name="dev" default="/dev/roboclaw"/>
        <arg name="baud" default="115200"/>
        <arg name="address" default="128"/>
        <arg name="max_speed" default="2.0"/>
        <arg name="ticks_per_meter" default="43339.4366031"/>
        <arg name="base_width" default="0.41"/> <!-- 1.17 meters long 0.41 meters wide -->
        <arg name="run_diag" default="true"/>
        <arg name="child_frame" default="robot_base" />
        <arg name="publish_tf" default="false" /> 
        <arg name="twist_topic_name" default="/cmd_vel"/>
        <arg name="single_motor" default="false"/>
        <arg name="odom_topic_name" default="/wheel_encoder/odom"/>
      </include>

      ### Steering Linear Actuator

      ### Emlid Reach (GPS building nmea_navsat_driver from source)
      <!-- See catkin_ws/src/agbot_0/ -->
      <include file="$(find agbot_0)/launch/include/emlid_gps.launch" >
        <arg name="port" default="/dev/reach_rs_plus"/>
        <arg name="baud" default="4800"/>
        <arg name="frame_id" default="gps" />
        <arg name="gps_topic_name" default="/gps/fix"/>
        <arg name="node_name" default="reach_rs_gps"/>
      </include>

      <!--
      <include file="$(find agbot_0)/launch/include/emlid_gps.launch" >
        <arg name="port" default="/dev/reach_rs_plus"/>
        <arg name="baud" default="9600"/>
        <arg name="frame_id" default="gps1" />
        <arg name="gps_topic_name" default="/gps/fix"/>
        <arg name="node_name" default="reach_rs_gps"/>
      </include> -->
      

      ### Phidget IMU
      <include file="$(find agbot_0)/launch/include/phidget_imu.launch">
        <arg name="imu_topic_name"  default="imu/data_fixed"/>
        <arg name="period"          default="4"/>
        <arg name="serial_number"   default="-1"/>
        <arg name="world_frame"     default="enu"/>
        <arg name="use_mag"         default="true"/>
        <arg name="use_magnetic_field_msg" default="true"/>
        <arg name="fixed_frame"     default="odom"/>
        <arg name="reverse_tf"      default="false"/>
        <arg name="publish_tf"      default="false"/>
      </include> 

</launch>
