<?xml version="1.0"?>
<launch>
 
  
  <!-- XXX This launch file is use to remotely launch nodes on the raspberry pi 3 b+ with a local machine-->
  <!-- XXX Make sure ROS_MASTER_URI='http://rc-car.local:11311' to run this launch file -->
  <!-- XXX Make sure you can also log into the rpi with 'ssh ubuntu@rc-car' -->
  <!-- XXX For first time setup run <ssh unbuntu@rc-car -oHostKeyAlgorithms='ssh-rsa'> -->
  <!-- XXX See https://www.raspberrypi.org/documentation/remote-access/ssh/passwordless.md -->
  <!-- XXX If the rpi did not connect to a known network it will start its own hotspot -->
  <!-- XXX see physical device for login details--> 


  <group ns="rpi">
    <machine name="remote_rpi" address="rc-car" env-loader="/home/ubuntu/catkin_ws/src/agbot_0/env.sh" user="ubuntu" default="true"/>
    <node machine="remote_rpi" name="talker" pkg="rospy_tutorials" type="talker.py" />
    
    ### Filepath for include files must be on the local machine
    ### Copy launch directory onto the machine runing roslaunch if you have to
    ### Use files located in .../agbot_0/launch/ directory

    ### Roboclaw
    <include file="$(find agbot_0)/launch/include/roboclaw.launch">
    <arg name="dev" default="/dev/ttyACM0"/>
    <arg name="baud" default="115200"/>
    <arg name="address" default="128"/>
    <arg name="max_speed" default="2.0"/>
    <arg name="ticks_per_meter" default="3666.01"/>
    <arg name="base_width" default="0.21"/>
    <arg name="run_diag" default="true"/>
    <arg name="child_frame" default="wheel_odom_base" />
    <arg name="publish_tf" default="true" />
    <arg name="single_motor" default="true"/>
    
    </include>

    ### Steering Servo
    <include file="$(find agbot_0)/launch/include/rpi_servo.launch" />

    ### USB/Bluetooth Joystick
    <include file="$(find agbot_0)/launch/include/teleop.launch" >
      <arg name="joy_dev"         default="/dev/input/js0" /> 	
      <arg name="config_filepath" default="$(find agbot_0)/config/teleop-rc-car-slow.yaml" /> 
    </include>

    ### Emlid Reach (GPS building nmea_navsat_driver from source)
    <include file="$(find agbot_0)/launch/include/emlid_gps.launch" >
      <arg name="port" default="/dev/ttyACM1"/>
      <arg name="baud" default="4800"/>
      <!--XXX not working <remap from="rpi/fix" to="rpi/gps/fix"/>  -->

    </include>

 
    ### Phidget IMU
    <include file="$(find agbot_0)/launch/include/phidget_imu.launch">
      <arg name="imu_topic_name"  default="imu/data_fixed"/>
      <arg name="period"          default="4"/>
      <arg name="serial_number"   default="-1"/>
      <arg name="world"           default="enu"/>
      <arg name="use_mag"         default="trUe"/>
      <arg name="use_magnetic_field_msg" default="true"/>
      <arg name="fixed_frame"     default="odom"/>
      <arg name="reverse_tf"      default="false"/>
      <arg name="publish_tf"      default="false"/>
    </include>
  
  </group>

</launch>
