<?xml version="1.0"?>
<launch>
  ### THIS LAUNCH FILE WILL LAUNCH NODES ON THE REMOTE MACHINE (TX2)

  <machine name="tx2" address="tegra-ubuntu" env-loader="/home/nvidia/catkin_ws/src/agbot_0/env.sh" user="nvidia" default="true"/> 
  
    ### Steering Linear Actuatory
    <include file="$(find agbot_0)/launch/include/jrk.launch" >
      <arg name="baud"                 default="9600"/>
      <arg name="scale"                default="2500"/>
      <arg name="offset"               default="2048"/>
      <arg name="ackermann_topic_name" default="ackermann"/>
    </include>

    ###
    <include file="$(find agbot_0)/launch/include/teleop.launch" >
        <arg name="joy_dev"             default="/dev/input/js0" />
        <arg name="ackermann_command"   default="/ackermann"/>
        <arg name="twist_command"       default="/roboclaw/cmd_vel"/>
        <arg name="max_forward_vel"     default="0.3"/> # in m/s
        <arg name="max_reverse_vel"     default="0.1"/> # in m/s
        <arg name="max_steering_angle"  default="0.7853982"/> # in radians (45 deg)
        <arg name="joy_msgs"            default="/joy"/>
        <arg name="wheel_base"          default="1.18"/> # distance between front and back tires in meters
    </include>


</launch>
